//src/sass/_variables.scss
$color-primary: #f953c7;
$color-primary-dark: #5f1248;
$color-secondary: #003201;
$color-white: #ffffff;
$color-grey: #777;
$color-grey-dark: #333333;
$color-grey-light: #f7f1f1;
$color-red:#ff0000;
$color-blue:#0000ff;
$color-black: #242424;
$color-black-dark:#000000;
 