//src/sass/_variables.scss
$color-primary: #f953c7;
$color-secondary: #003201;
$color-white: #ffffff;
$color-grey: #777;
$color-grey-dark: #333333;
$color-black: #242424;
$color-black-dark:#000000;


// layout specific
$breakpoint-sm: 60rem;
$breakpoint-md: 96rem;
$breakpoint-lg: 120rem;
 