@use '@/sass/abstracts/_variables' as vars;

.btn {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    cursor: pointer;

    &--color {
        background-color: rgba(vars.$color-grey-dark, 0.3);
        border: 0.2rem solid vars.$color-white;
        color: vars.$color-white;
    }

    &--animation {
        transition: all 0.3s ease;
        animation: moveInUp .5s ease-out .75s;
        backface-visibility: hidden;
        animation-fill-mode: backwards;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba(vars.$color-black-dark, 0.2);
        background-color: rgba(vars.$color-grey-dark, 0.3);
        border: 0.2rem solid rgba(vars.$color-grey-dark, 0.3);
        transform: translateY(-0.2rem);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba(vars.$color-black-dark, 0.2);
        transform: translateY(-.1rem);
    }
}

/* Responsive adjustments */
@media (max-width: 76.8rem) {
    .btn {
        padding: 1rem 2rem;
        font-size: 1rem;
    }
}