@use '@/sass/abstracts/_variables' as vars;
@use '@/sass/abstracts/_mixins' as mixins;

.feature {
	height: auto;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	margin-top: -26vh;
	text-align: center;
	overflow: hidden;
	transform: skewY(-7deg);

	& > * {
		transform: skewY(7deg);
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		margin: 20rem auto;
		max-width: min-content;
		gap: 4rem;
	}

	&__card {
		background-color: rgba(vars.$color-white, 0.7);
		border-radius: 1rem;
		margin: 0 auto;
		padding: 2rem;
		transition: transform 0.3s ease;
		text-align: center;
		width: 25rem;
		height: 25rem;

		&:hover {
			transform: translate(-1rem, 0.5rem);
			box-shadow: 2rem -2rem 1rem 0 rgba(0, 0, 0, 0.5);
		}

		&--content {
			margin-top: 1rem;
		}

		&--description {
			margin-top: 2rem;
			font-size: 1.6rem;
			color: vars.$color-grey-dark;
		}
	}

	/* Responsive adjustments */
	@include mixins.respond(desktop) {
		&__cards {
			grid-template-columns: repeat(3, 1fr);
		}

		&__card:nth-child(4) {
			grid-column: 1 / 2; // Move the 4th card to the first column
		}

		&__card:nth-child(5) {
			grid-column: 3 / 4; // Move the 5th card to the last column
		}
	}
	@include mixins.respond(phone) {
		&__cards {
			grid-template-columns: 1fr;
		}

		&__card:nth-child(4),
		&__card:nth-child(5) {
			grid-column: unset;
		}
	}
}
