@use '@/sass/abstracts/_mixins' as mixins;

.hero {
	&__logo {
		position: absolute;
		top: 2rem;
		left: 2rem;

		&--transform {
			height: 12rem;
			width: auto;

			&:hover {
				transform: scale(1.2);
			}

			@include mixins.respond(tablet-landscape) {
				& {
					height: 8rem;
				}
			}
		}

		/* Responsive adjustments */
		@include mixins.respond(tablet-landscape) {
			& {
				top: 0.5rem;
				left: 0.5rem;
			}
		}
	}
}
