@use '@/sass/abstracts/_variables' as vars;
@use '@/sass/abstracts/_mixins' as mixins;
@use 'sass:color';

.testimonials {
 	min-height: 45vh;
	padding: 20rem 0;
	background-size: cover;
	background-position: top;
	text-align: center;
	width: 100%;

	&__header {
		padding: 9rem 0;
	}

	&__title {
 		font-size: 3rem;
		font-weight: 700;
		text-transform: uppercase;
		text-shadow: 0 0.5rem 1rem rgba(vars.$color-black, 0.3);
		letter-spacing: 0.2rem;
		background-image: linear-gradient(
			to right bottom,
			rgba(vars.$color-white, 1),
			rgba(vars.$color-primary, 0.8)
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin: 0;

		@include mixins.respond(phone) {
			font-size: 2rem;
		}
	}
 
	@include mixins.respond(tablet-landscape) {
		clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
	}
	@include mixins.respond(phone) {
		margin: -19vh auto 0 0;
		clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
	}
}

.testimonial-card {
	background: vars.$color-white;
	border-radius: 1.2rem;
	padding: 2rem;
	box-shadow: 0 0.4rem 0.6rem rgba(vars.$color-black, 0.3);
	height: 100%;

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3rem;
	}

	&__author {
		&-avatar {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;

			&-img {
				width: 10rem;
				height: 10rem;
				object-fit: cover;

				@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
					-webkit-clip-path: circle(50% at 50% 50%);
					clip-path: circle(50% at 50% 50%);
					-webkit-shape-outside: circle(50% at 50% 50%);
					shape-outside: circle(50% at 50% 50%);
					border-radius: none;
				}
				&:hover {
					transform: scale(1.05);
				}
			}
		}

		&-caption {
			display: flex;
			flex-direction: column;

			&--name {
				font-size: 1.2rem;
				font-weight: 700;
				color: vars.$color-blue-light;
			}

			&--role {
				font-size: 0.9rem;
				color: vars.$color-grey;
				font-style: italic;
			}
		}
	}

	&__reflection {
		display: flex;
		flex-direction: column;

		&-header {
			font-size: 1.8rem;
			font-weight: 700;
			color: vars.$color-blue-light;
			line-height: 1.6;
			margin: 1rem 0;
		}

		&-description {
			font-size: 1.2rem;
			font-style: italic;
			font-weight: 500;
			color: vars.$color-blue-light;
			line-height: 1.6;
			margin: 0;
		}
	}

	@include mixins.respond(phone) {
		padding: 1rem;

		&__content {
			flex-direction: column;
			gap: 1.5rem;
		}

		&__author {
			&-avatar {
				gap: 0.5rem;
				&-img {
					width: 6rem;
					height: 6rem;
				}
			}

			&-caption {
				&--name {
					font-size: 1rem;
				}

				&--role {
					font-size: 0.8rem;
				}
			}
		}

		&__reflection {
			&-header {
				font-size: 1.4rem;
				margin: 0.5rem 0;
			}

			&-description {
				font-size: 1rem;
			}
		}
	}
}
