@use '@/sass/abstracts/_variables' as vars;
@use '@/sass/abstracts/_mixins' as mixins;

.tour {
	min-height: 85vh;
	background-color: vars.$color-white;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	padding: 20rem 0 24rem 0;
	margin-top: -26vh;
	padding-bottom: 35rem;
	text-align: center;
	z-index: -1;

	&__heading {
		margin-top: 6rem;
		font-size: 3rem;
		text-transform: uppercase;
		text-shadow: 0 0.5rem 1rem rgba(vars.$color-black, 0.3);
		font-weight: 700;
		letter-spacing: 0.2rem;
		margin-bottom: 2rem;
		background-image: linear-gradient(
			to right,
			vars.$color-primary,
			vars.$color-secondary
		);
		display: inline-block;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@include mixins.respond(tablet-landscape) {
			margin-top: 2rem;
		}
	}
	&__cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 2rem;
		gap: 2rem;
	}

	&__card {
		background-color: vars.$color-white;
		display: flex;
		justify-content: space-between;
		height: auto;
		text-align: start;
		position: relative;
		z-index: 1;

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 20.2rem;
			background-image: linear-gradient(
				to right,
				vars.$color-primary,
				vars.$color-secondary
			);
			border-radius: 2rem 0 0 2rem;
			top: 0;
			left: 0;
			opacity: 0.1;
			clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
		}

		&--image {
			height: 20rem;
			object-fit: cover;
			border-radius: 2rem;
			padding: 1rem 0 1rem 1rem;
			background-image: linear-gradient(
				to right,
				vars.$color-primary,
				vars.$color-secondary
			);
			clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
			z-index: 1;

			&:hover {
				transform: scale(1.05);
				border-radius: 2rem;
				z-index: 20;
			}
		}

		&--content {
			width: auto;
			margin-top: 0.5rem;
			margin-bottom: 2rem;
			padding: 1.5rem;
		}

		&--title {
			font-size: 2rem;
			font-weight: 700;
			margin-bottom: 1rem;
			text-transform: uppercase;
			color: vars.$color-grey-dark;
		}

		&--description {
			color: vars.$color-grey;
			font-size: 1.7rem;
			font-weight: 400;
			margin-bottom: 2rem;
			line-height: 1.6;
		}

		&:hover &--image:not(:hover) {
			transform: scale(0.95);
			opacity: 0.5;
		}
		&:hover &--title:not(:hover) {
			color: vars.$color-primary;
		}
	}

	@include mixins.respond(desktop) {
		&__heading {
			font-size: 3.5rem;
		}

		&__cards {
			width: 100%;
			grid-template-columns: 1fr;
			padding: 1rem;
		}

		&__card {
			&::after {
				width: 100%;
				height: 100%;
				border-radius: 2rem 2rem 0 2rem;
			}

			&--image {
				height: 40rem;
			}

			&--title {
				font-size: 2.5rem;
			}

			&--description {
				font-size: 1.9rem;
			}
		}
	}

	@include mixins.respond(tablet-landscape) {
		&__card {
			&--content {
				padding: 0 1.5rem 2.2rem;

				p {
					padding-bottom: 1.5rem;
				}
			}
		}
	}

	@include mixins.respond(phone) {
		&__heading {
			font-size: 2rem;
		}

		&__card {
			flex-direction: column;

			&--content {
				padding: 0 1.5rem 3.2rem;
			}

			&--image {
				height: 24rem;
				width: 100%;
			}

			&--title {
				font-size: 1.8rem;
			}

			&--description {
				padding-bottom: 1rem;
				font-size: 1.6rem;
			}
		}
	}
}
